# Registry por defecto
registry=https://registry.npmjs.org

# CastLabs Electron + Widevine configuration
electron_config_mirror=https://github.com/castlabs/electron-releases/releases/download/
electron_config_custom_dir=v30.3.1+wvcus
